<mat-card>
    <h1>Your profile Details</h1>
    <mat-card-content>
        <div class="bootstrap-wrapper">
            <div class="container">

                <div class="container text-center">
                    <img src="../../../assets/IMG_9294.jpg" alt="" class="profile-image" />
                    <h1 class="mt20">{{name}}</h1>
                </div>
                <div class="row">

                    <div class="col-md-10 offset md-1"></div>
                    <table class="table">
                        <tr>
                            <td>Id</td>
                            <td>{{id}}</td>
                        </tr>
                        <tr>
                            <td>UserName</td>
                            <td>{{name}}</td>
                        </tr>

                        <tr>
                            <td>Status</td>
                            <td>{{status}}</td>
                        </tr>
                        <tr>
                            <td>Role</td>
                            <td>{{role}}</td>
                        </tr>
                    </table>
                </div>
            </div>
        </div>

    </mat-card-content>
</mat-card>